body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 100px 200px 500px;
}
